#topNav {
  background: rgb(51, 94, 255);
  box-shadow: 0px 1px 10px 10px white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  margin: auto;
  height: auto;
  text-align: center;
  width: 45%;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: black;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;  /*  top/bottom | left/right  */
  text-decoration: none;
  transition: color 0.3s ease-in;  /*  property | time | method  */
}
#topNav a:hover {
  color: white;
}
body {
  background-image: linear-gradient(to right, rgb(226, 41, 29) 25%, rgb(226, 41, 29) 100%
    rgb(50, 239, 57) 100%, rgb(50, 239, 57) 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
